In [99]:
import pandas as pd
import sklearn
import datetime
import numpy as np

Using mock_df as historical data that will be used to determine candidates for auto-save recommendations

In [100]:
cols = ['type','date','time','amount','balance','other_party']

In [241]:
mock_data = [
    ['regular','2020-01-05','14:25','-200.00','5470.00','ESB'],
    ['regular','2020-01-07','10:36','-30.00','5270.00','Pharmacy'],
    ['irregular','2020-01-08','12:17','-98.46','5240.00','Tesco'],
    ['regular','2020-01-12','10:23','-1200.00','4040.00','Rent'],
    ['irregular','2020-01-13','11:30','-67.42','3972.58','Tesco'],
    ['regular','2020-01-14','09:47','-30.00','3942.58','Pharmacy'],
    ['discretionary','2020-01-15','09:43','-3.45','3939.13','Starbucks'],
    ['regular','2020-01-16','07:43','-49.99','3889.14','Vodafone'],
    ['discretionary','2020-01-18','10:43','-5.44','3883.70','Starbucks'],
    ['irregular','2020-01-20','18:47','-78.65','3805.05','Tesco'],
    ['regular','2020-01-21','09:36','-30.00','3775.05','Pharmacy'],
    ['regular','2020-01-22','12:00','-100.00','3675.05','Dr Zeuss'],
    ['discretionary','2020-01-23','02:54','-250.00','3425.05','Amazon'],
    ['discretionary','2020-01-23','03:01','-175.00','3250.05','Amazon',],
    ['irregular','2020-01-27','13:58','-102.47','3147.58','Tesco'],
    ['regular','2020-01-28','09:00','+2500.00','5647.58','ACME Corp.'],
    ['regular','2020-01-28','10:14','-30.00','5617.58','Pharmacy'],
    ['discretionary','2020-02-02','09:14','-3.57','5614.01','Starbucks'],
    ['regular','2020-02-05','14:25','-200.00','5414.01','ESB'],
    ['irregular','2020-02-06','15:47','-74.68','5339.33','Tesco'],
    ['discretionary','2020-02-07','10:20','-4.34','5334.99','Starbucks'],
    ['regular','2020-02-07','10:34','-30.00','5304.99','Pharmacy'],
    ['regular','2020-02-12','10:14','-1200.00','4104.99','Rent'],
    ['discretionary','2020-02-12','11:55','-3.75','4101.24','Starbucks'],
    ['irregular','2020-02-12','12:14','-100.27','4000.97','Tesco'],
    ['regular','2020-02-14','09:45','-30.00','3970.97','Pharmacy'],
    ['regular','2020-02-16','07:43','-49.99','3920.98','Vodafone'],
    ['irregular','2020-02-20','11:41','-88.34','3832.64','Tesco'],
    ['discretionary','2020-02-20','20:15','-45.36','3787.28','Amazon'],
    ['regular','2020-02-21','08:57','-30.00','3757.28','Pharmacy'],
    ['discretionary','2020-02-21','09:15','-3.75','3753.53','Starbucks'],
    ['irregular','2020-02-27','18:24','-95.45','3658.08','Tesco'],
    ['regular','2020-02-28','10:46','-30.00','3628.08','Pharmacy'],
    ['regular','2020-02-28','09:00','+2500.00','6128.08','ACME Corp.'],
    ['irregular','2020-03-01','19:01','-120.78','6007.03','Tesco'],
    ['discretionary','2020-03-03','09:14','-3.75','6003.55','Starbucks'],
    ['regular','2020-03-05','14:25','-200.00','5803.55','ESB'],
    ['regular','2020-03-07','10:12','-30.00','5773.55','Pharmacy'],
    ['discretionary','2020-03-07','10:25','-3.75','5769.80','Starbucks'],
    ['irregular','2020-03-08','18:31','-87.32','5682.48','Tesco'],
    ['regular','2020-03-12','10:10','-1200.00','4482.48','Rent'],
    ['regular','2020-03-14','09:45','-30.00','4452.48','Pharmacy'],
    ['regular','2020-03-16','07:43','-49.99','4402.49','Vodafone'],
    ['irregular','2020-03-21','09:31','-58.69','4343.80','Tesco'],
    ['discretionary','2020-03-21','09:57','-4.99','4338.81','Starbucks'],
    ['regular','2020-03-21','10:58','-30.00','4308.81','Pharmacy'],
    ['irregular','2020-03-25','18:42','-96.12','4212.69','Tesco'],
    ['regular','2020-03-28','10:13','-30.00','4182.69','Pharmacy'],
    ['regular','2020-03-28','09:00','+2500.00','6682.69','ACME Corp.'],
    ['discretionary','2020-03-28','10:15','-1534.47','5148.22','Amazon'],
    ['discretionary','2020-03-28','10:57','-799.99','4348.23','Asos'],
    ['regular','2020-03-29','14:00','-100.00','4248.23','Dr Zeuss']
]

In [242]:
mock_df = pd.DataFrame(mock_data, columns = cols)

In [5]:
mock_df.shape

(51, 6)

In [6]:
mock_df.head()

        type        date   time    amount  balance other_party
0    regular  2020-01-05  14:25   -200.00  5470.00         ESB
1    regular  2020-01-07  10:36    -30.00  5270.00    Pharmacy
2  irregular  2020-01-08  12:17    -98.46  5240.00       Tesco
3    regular  2020-01-12  10:23  -1200.00  4040.00        Rent
4  irregular  2020-01-13  11:30    -67.42  3972.58       Tesco

In [7]:
mock_df['type'].value_counts()

regular          25
discretionary    14
irregular        12
Name: type, dtype: int64

In [18]:
mock_df['amount'] = mock_df['amount'].apply(lambda x: float(x))

In [20]:
mock_df['amount'].sum()

-1220.23

In [26]:
r = [[1],[4],[-10],[29]]
test = pd.DataFrame(r,columns = ['num'])
test['num'].sum()

24

In [8]:
x = mock_df['type'].value_counts()

In [9]:
type(x)

pandas.core.series.Series

In [12]:
list(x)

[25, 14, 12]

In [14]:
sorted(list(mock_df['type'].value_counts()))

[12, 14, 25]

In [239]:
def reg_pay(df):
    df['datetime'] = df['date'] + " "+ df['time']
    df['datetime'] = df['datetime'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M'))
        
    df = df.reset_index()    
    main_dict = {}
    for party in list(df['other_party'].value_counts().index):
        temp_df = df[df['other_party'] == party].copy()
        temp_df['time_since_last_trans_party'] = temp_df['datetime'] - temp_df['datetime'].shift()        
        temp_df = temp_df.reset_index()
        pos_dict = pd.Series(temp_df['time_since_last_trans_party'].values, index = temp_df['index'])
        main_dict.update(pos_dict)
    df['time_since_last_trans_party'] = df['index'].map(main_dict)
    #print(df.columns)
    #print(df)
    
    
    # Select only Regular payments
    df_reg = df.loc[df['type'] == 'regular']
    parties = df_reg['other_party'].unique()
    reg_dict = {}
    for party in parties:    
        df_p = df_reg.loc[df_reg['other_party'] == party]
        
        amounts = list(df_p['amount'].value_counts().index)  
        amounts = [float(x) for x in amounts]
        avg_amount = sum(amounts)/len(amounts)
        #print(avg_amount)
        
        gaps = list(df_p['time_since_last_trans_party'].value_counts().index)        
        #print(gaps)
        if len(gaps) > 0:
            gaps = [x.days for x in gaps if len(gaps) > 0]
           # print(party)
            #print(gaps)
            avg_gap = int(sum(gaps)/len(gaps))
            reg_dict.update({party:[avg_gap,avg_amount]})
        
            #print(avg_gap)
        else:
            avg_gap = None
        
    return reg_dict

In [243]:
reg_pay(mock_df)

{'ESB': [30, -200.0],
 'Pharmacy': [6, -30.0],
 'Rent': [29, -1200.0],
 'Vodafone': [30, -49.99],
 'Dr Zeuss': [67, -100.0],
 'ACME Corp.': [30, 2500.0]}

In [261]:
def reg_pay_updated(df):
    df['dates'] = pd.to_datetime(df['dates'])
        
    df = df.reset_index()    
    main_dict = {}
    for party in list(df['other_account_name'].value_counts().index):
        temp_df = df[df['other_account_name'] == party].copy()
        temp_df['time_since_last_trans_party'] = temp_df['dates'] - temp_df['dates'].shift()        
        temp_df = temp_df.reset_index()
        pos_dict = pd.Series(temp_df['time_since_last_trans_party'].values, index = temp_df['index'])
        main_dict.update(pos_dict)
    df['time_since_last_trans_party'] = df['index'].map(main_dict)    
    
    # Select only Regular payments
    df_reg = df.loc[df['Type'] == 'Regular']
    parties = df_reg['other_account_name'].unique()
    reg_dict = {}
    for party in parties:    
        df_p = df_reg.loc[df_reg['other_account_name'] == party]
        gaps = list(df_p['time_since_last_trans_party'].value_counts().index)                
        if len(gaps) > 0:
            gaps = [x.days for x in gaps if len(gaps) > 0]           
            avg_gap = int(sum(gaps)/len(gaps))        
        else:
            avg_gap = None
        
        amounts = list(df_p['amount'].value_counts().index)  
        amounts = [float(x) for x in amounts]
        avg_amount = sum(amounts)/len(amounts)        
        
        reg_dict.update({party:[avg_gap,round(avg_amount,2)]})
        
    return reg_dict

In [246]:
new_df = pd.read_csv('gs://shakingshamrocks_eu/test_data_3_sec.csv')

In [247]:
new_df = new_df.drop(df.columns[0],axis = 1)

In [262]:
reg_pay_updated(new_df)

{'Wages MyOrg': [14, 2450.0],
 'Medical Subscription': [14, -115.0],
 'Medical Session': [29, -200.0],
 'Car': [14, -290.0],
 'Utilities': [29, -242.36],
 'Rent - apt 12': [14, -1350.0],
 'Phone': [14, -19.0],
 'Subscription': [14, -52.5]}

Identify regular payments per month per party

In [75]:
def id_reg(df):
    # Select only Regular payments
    df_reg = df.loc[df['type'] == 'regular']
    #print('Number of rows: ',len(df_reg))
    df_reg['month'] = df_reg['date'].apply(lambda x: x[5:7])
    #print(df_reg)
    months = df_reg['month'].unique()
    #print(months)
    #months = sorted(list(set(list(df_reg['month'].value_counts()))))    
    #parties = sorted(list(df_reg['other_party'].value_counts()))
    parties = df_reg['other_party'].unique()
    #print(parties)
    month_dict = {}
    for month in months:
        #print(month)
        party_dict = {}
        df_m = df_reg.loc[df_reg['month'] == month]
        #print(df_m)
        for party in parties:
            df_p = df_m.loc[df_m['other_party'] == party]
            #print('Party is: ,',party)
            #print(df_p)
            # Subsetted data to a particular party and a particular month
            df_p['amount'] = df_p['amount'].apply(lambda x: float(x))
            total_amt = df_p['amount'].sum()
            #print('total_amt: ',total_amt)
            party_dict.update({party:total_amt})
            #print(party_dict)
        month_dict.update({month:party_dict})
    
    return month_dict

In [77]:
reg_payments = id_reg(mock_df)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [78]:
len(reg_payments)

3

In [81]:
keys = list(reg_payments.keys())

In [82]:
keys

['01', '02', '03']

In [84]:
for k,v in reg_payments.items():
    print(k,v)

01 {'ESB': -200.0, 'Pharmacy': -120.0, 'Rent': -1200.0, 'Vodafone': -49.99, 'Dr Zeuss': -100.0, 'ACME Corp.': 2500.0}
02 {'ESB': -200.0, 'Pharmacy': -120.0, 'Rent': -1200.0, 'Vodafone': -49.99, 'Dr Zeuss': 0.0, 'ACME Corp.': 2500.0}
03 {'ESB': -200.0, 'Pharmacy': -120.0, 'Rent': -1200.0, 'Vodafone': -49.99, 'Dr Zeuss': 0.0, 'ACME Corp.': 2500.0}

In [97]:
def convert_to_mins(val):
    try:
        return(int((val.total_seconds()/60)))
    except ValueError:
        return np.nan

In [103]:
mock_df['datetime'] =mock_df['date'] + " "+ mock_df['time']

In [108]:
#time since last transaction in mins
mock_df.dtypes
#mock_df['datetime'] = mock_df['datetime'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M'))
mock_df['time_since_last_transaction'] = mock_df['datetime'] - mock_df['datetime'].shift()
mock_df['time_since_last_transaction']= mock_df['time_since_last_transaction'].apply(lambda x: convert_to_mins(x))

In [109]:
mock_df.head()

,type,date,time,amount,balance,other_party,datetime,time_since_last_transaction
0,regular,2020-01-05,14:25,-200.00,5470.00,ESB,2020-01-05 14:25:00,NaN
1,regular,2020-01-07,10:36,-30.00,5270.00,Pharmacy,2020-01-07 10:36:00,2651.0
2,irregular,2020-01-08,12:17,-98.46,5240.00,Tesco,2020-01-08 12:17:00,1541.0
3,regular,2020-01-12,10:23,-1200.00,4040.00,Rent,2020-01-12 10:23:00,5646.0
4,irregular,2020-01-13,11:30,-67.42,3972.58,Tesco,2020-01-13 11:30:00,1507.0

In [110]:
mock_df = mock_df.reset_index()

In [111]:
#time since last transaction in 'other party'
main_dict = {}
for party in list(mock_df['other_party'].value_counts().index):
    temp_df = mock_df[mock_df['other_party'] == party].copy()
    temp_df['time_since_last_trans_party'] = temp_df['datetime'] - temp_df['datetime'].shift()
    pos_dict = pd.Series(temp_df['time_since_last_trans_party'].values, index = temp_df['index'])
    main_dict.update(pos_dict)
mock_df['time_since_last_trans_party'] = mock_df['index'].map(main_dict)

In [112]:
mock_df.head()

,index,type,date,time,amount,balance,other_party,datetime,time_since_last_transaction,time_since_last_trans_party
0,0,regular,2020-01-05,14:25,-200.00,5470.00,ESB,2020-01-05 14:25:00,NaN,NaT
1,1,regular,2020-01-07,10:36,-30.00,5270.00,Pharmacy,2020-01-07 10:36:00,2651.0,NaT
2,2,irregular,2020-01-08,12:17,-98.46,5240.00,Tesco,2020-01-08 12:17:00,1541.0,NaT
3,3,regular,2020-01-12,10:23,-1200.00,4040.00,Rent,2020-01-12 10:23:00,5646.0,NaT
4,4,irregular,2020-01-13,11:30,-67.42,3972.58,Tesco,2020-01-13 11:30:00,1507.0,4 days 23:13:00

In [ ]:
mock_df['time_since_last_trans_party']= mock_df['time_since_last_trans_party'].apply(lambda x: convert_to_mins(x))

In [85]:
df = pd.read_csv('gs://shakingshamrocks_eu/test_data_2.csv')

In [88]:
df['account_name'].value_counts()

Maria Bush       239
Susan Schultz    225
Name: account_name, dtype: int64