In [1]:
import pandas as pd 
import numpy as np
import pandas as pd
from faker import Faker
import random
import datetime
import random

In [2]:
fake = Faker()

In [3]:
def payment_generator(payment, n=48):
    
    
    if payment['freq']=='M':
        df = pd.DataFrame(data={'dates': month_range(payment['start_date'], n)})
    else:
        df = pd.DataFrame(data={'dates': pd.date_range(payment['start_date'], periods=n, freq=payment['freq'])})
    
    df['account_name'] = payment['account_name'] 
    df['account_IBAN'] = payment['account_IBAN']
    df['other_account_name'] = payment['other_account_name']
    df['Type'] = payment['Type']
    
    if payment['amount']['variable'] == 'False':
        df['amount'] = payment['amount']['base']
    
    if payment['amount']['variable'] == 'True':
        df['amount'] = payment['amount']['base']
        df['amount'] = df['amount'].apply(lambda x: x + random.uniform(payment['amount']['var'], 0))
    
    return df

In [4]:
def month_range(start, periods=12):
    rng = pd.date_range(pd.Timestamp(start)-pd.offsets.MonthBegin(),
                        periods=periods,
                        freq='MS')
    ret = (rng + pd.offsets.Day(pd.Timestamp(start).day-1)).to_series()
    ret.loc[ret.dt.month > rng.month] -= pd.offsets.MonthEnd(1)
    return pd.DatetimeIndex(ret)

In [5]:
name = fake.name()
account_IBAN = fake.bban()
payments_norm = [{
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Wages MyOrg',
    'other_account_IBAN': fake.bban(),
    'Type': 'Regular',
    'amount': {
        'variable': 'False',
        'base': 2600.0
    },
    'start_date': '2018-02-20',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Rent - apt 12',
    'other_account_IBAN': fake.bban(),
    'Type': 'Regular',
    'amount': {
        'variable': 'False',
        'base': -1500.0
    },
    'start_date': '2018-02-28',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Phone',
    'other_account_IBAN': fake.bban(),
    'Type': 'Regular',
    'amount': {
        'variable': 'False',
        'base': -20.0
    },
    'start_date': '2018-02-28',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Subscription',
    'other_account_IBAN': fake.bban(),
    'Type': 'Regular',
    'amount': {
        'variable': 'False',
        'base': -50.0
    },
    'start_date': '2018-02-28',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Utilities',
    'other_account_IBAN': fake.bban(),
    'Type': 'Regular',
    'amount': {
        'variable': 'True',
        'base': -200.0,
        'var': -100.0
    },
    'start_date': '2018-02-28',
    'freq': '2M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Car',
    'other_account_IBAN': fake.bban(),
    'Type': 'Regular',
    'amount': {
        'variable': 'False',
        'base': -250.0
    },
    'start_date': '2018-02-28',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Medical Subscription',
    'other_account_IBAN': fake.bban(),
    'Type': 'Regular',
    'amount': {
        'variable': 'False',
        'base': -150.0
    },
    'start_date': '2018-02-28',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Medical Session',
    'other_account_IBAN': fake.bban(),
    'Type': 'Regular',
    'amount': {
        'variable': 'False',
        'base': -200.0
    },
    'start_date': '2018-02-28',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Food Desc',
    'other_account_IBAN': fake.bban(),
    'Type': 'Irregular',
    'amount': {
        'variable': 'True',
        'base': - 5.0,
        'var': - 6.0
    },   
    'start_date': '2018-02-28',
    'freq': '7D'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Food Reg',
    'other_account_IBAN': fake.bban(),
    'Type': 'Irregular',
    'amount': {
        'variable': 'True',
        'base': - 200.0,
        'var': - 100.0
    },   
    'start_date': '2018-02-28',
    'freq': '7D'}
]

payments_impluse = [{
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': fake.company_suffix(),
    'other_account_IBAN': fake.bban(),
    'Type': 'Discretionary',
    'amount': {
        'variable': 'True',
        'base': - 20.0,
        'var': - 50.0
    },
    'start_date': '2018-03-28',
    'freq': '7D',
    'number': 2},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': fake.company_suffix(),
    'other_account_IBAN': fake.bban(),
    'Type': 'Discretionary',
    'amount': {
        'variable': 'True',
        'base': - 240.0,
        'var': - 200.0
    },
    'start_date': '2018-04-28',
    'freq': '1D',
    'number': 1},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': fake.company_suffix(),
    'other_account_IBAN': fake.bban(),
    'Type': 'Discretionary',
    'amount': {
        'variable': 'True',
        'base': - 140.0,
        'var': - 50.0
    },
    'start_date': '2018-08-28',
    'freq': '1H',
    'number': 6}]


name = fake.name()
account_IBAN = fake.bban()
payments_norm += [{
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Wages MyOrg',
    'other_account_IBAN': fake.bban(),
    'Type': 'Regular',
    'amount': {
        'variable': 'False',
        'base': 2300.0
    },
    'start_date': '2018-02-15',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Rent - apt 12',
    'other_account_IBAN': fake.bban(),
    'Type': 'Regular',
    'amount': {
        'variable': 'False',
        'base': -1200.0
    },
    'start_date': '2018-02-28',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Phone',
    'other_account_IBAN': fake.bban(),
    'Type': 'Regular',
    'amount': {
        'variable': 'False',
        'base': -18.0
    },
    'start_date': '2018-02-28',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Subscription',
    'other_account_IBAN': fake.bban(),
    'Type': 'Regular',
    'amount': {
        'variable': 'False',
        'base': -55.0
    },
    'start_date': '2018-02-28',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Utilities',
    'other_account_IBAN': fake.bban(),
    'Type': 'Regular',
    'amount': {
        'variable': 'True',
        'base': -180.0,
        'var': -100.0
    },
    'start_date': '2018-02-28',
    'freq': '2M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Car',
    'other_account_IBAN': fake.bban(),
    'Type': 'Regular',
    'amount': {
        'variable': 'False',
        'base': -330.0
    },
    'start_date': '2018-02-28',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Medical Subscription',
    'other_account_IBAN': fake.bban(),
    'Type': 'Regular',
    'amount': {
        'variable': 'False',
        'base': -80.0
    },
    'start_date': '2018-02-28',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Medical Session',
    'other_account_IBAN': fake.bban(),
    'Type': 'Regular',
    'amount': {
        'variable': 'False',
        'base': -200.0
    },
    'start_date': '2018-02-28',
    'freq': '2M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Food Desc',
    'other_account_IBAN': fake.bban(),
    'Type': 'Irregular',
    'amount': {
        'variable': 'True',
        'base': - 5.0,
        'var': - 6.0
    },   
    'start_date': '2018-02-28',
    'freq': '7D'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Food Reg',
    'other_account_IBAN': fake.bban(),
    'Type': 'Irregular',
    'amount': {
        'variable': 'True',
        'base': - 200.0,
        'var': - 100.0
    },   
    'start_date': '2018-02-25',
    'freq': '7D'}
]

payments_impluse += [{
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': fake.company_suffix(),
    'other_account_IBAN': fake.bban(),
    'Type': 'Discretionary',
    'amount': {
        'variable': 'True',
        'base': - 60.0,
        'var': - 40.0
    },
    'start_date': '2018-03-28',
    'freq': '7D',
    'number': 7},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': fake.company_suffix(),
    'other_account_IBAN': fake.bban(),
    'Type': 'Discretionary',
    'amount': {
        'variable': 'True',
        'base': - 340.0,
        'var': - 100.0
    },
    'start_date': '2018-04-28',
    'freq': 'D',
    'number': 10},
{
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': fake.company_suffix(),
    'other_account_IBAN': fake.bban(),
    'Type': 'Discretionary',
    'amount': {
        'variable': 'True',
        'base': - 99.0,
        'var': - 199.0
    },
    'start_date': '2018-08-28',
    'freq': '1H',
    'number': 6}]

In [6]:
def payment_episode(payment):
    df = pd.DataFrame(data={'dates': pd.date_range(payment['start_date'], periods=48, freq="7D")})
    date = df.loc[random.randint(0,df.shape[0]-1)]
    num_payments = random.randint(5,12)
    df = df[df['dates'] == date['dates']]
    df = df.loc[df.index.repeat(num_payments)]
    df['account_name'] = payment['account_name'] 
    df['account_IBAN'] = payment['account_IBAN']
    df['other_account_name'] = payment['other_account_name']
    df['amount'] = payment['amount']['base']
    df['amount'] = df['amount'].apply(lambda x: x + random.uniform(payment['amount']['var'], 0))
    return df

In [7]:
list_impluse_episode = []
for x in payments_impluse:
    epi = payment_episode(x)
    list_impluse_episode.append(epi)
df_impluse_episode = pd.concat(list_impluse_episode)
df_impluse_episode['dates'] = df_impluse_episode['dates'].dt.strftime('%Y-%m-%d %H:%M:%S')
df_impluse_episode['time_offset'] =  random.randint(0,1220)
df_impluse_episode['time_offset'] = df_impluse_episode['time_offset'].apply(lambda x: x + random.uniform(0, 11))
df_impluse_episode['dates'] = pd.to_datetime(df_impluse_episode['dates']) + pd.to_timedelta(df_impluse_episode['time_offset'], unit='m')

In [8]:
#df_impluse_episode

In [9]:
list_impluse = [payment_generator(x, x['number']) for x in payments_impluse]
df_impluse = pd.concat(list_impluse)
df_impluse['dates'] = df_impluse['dates'].dt.strftime('%Y-%m-%d %H:%M:%S')
df_impluse['time_offset'] = 0
df_impluse['time_offset'] = df_impluse['time_offset'].apply(lambda x: x + random.uniform(0, 30))
df_impluse['dates'] = pd.to_datetime(df_impluse['dates']) + pd.to_timedelta(df_impluse['time_offset'], unit='m')

list_norm = [payment_generator(x) for x in payments_norm]
df_norm = pd.concat(list_norm)
df_norm['dates'] = df_norm['dates'].dt.strftime('%Y-%m-%d %H:%M:%S')
df_norm['time_offset'] = 0
df_norm['time_offset'] = df_norm['time_offset'].apply(lambda x: x + random.uniform(0, 30))
df_norm['dates'] = pd.to_datetime(df_norm['dates']) + pd.to_timedelta(df_norm['time_offset'], unit='h')

df_ = pd.concat([df_impluse, df_norm, df_impluse_episode])
df_.reset_index(inplace=True,drop=True)
df_.sort_values(by='dates', inplace=True)
df_.reset_index(inplace=True, drop=True)
df_['balance'] = df_['amount'].cumsum()
df_['dates'] = df_['dates'].dt.strftime('%Y-%m-%d %H:%M:%S')

df_.drop(columns=['time_offset'], inplace=True)
               
df_.head(50)

,dates,account_name,account_IBAN,other_account_name,Type,amount,balance
0,2018-02-16 04:31:25,Thomas Carroll,YMHQ42220003398003,Wages MyOrg,Regular,2300.000000,2300.000000
1,2018-02-20 13:12:12,Laura Moore,MBHS86862310038719,Wages MyOrg,Regular,2600.000000,4900.000000
2,2018-02-25 23:05:22,Thomas Carroll,YMHQ42220003398003,Food Reg,Irregular,-288.357074,4611.642926
3,2018-02-28 01:57:39,Thomas Carroll,YMHQ42220003398003,Phone,Regular,-18.000000,4593.642926
4,2018-02-28 02:21:02,Laura Moore,MBHS86862310038719,Medical Session,Regular,-200.000000,4393.642926
5,2018-02-28 03:57:26,Thomas Carroll,YMHQ42220003398003,Medical Session,Regular,-200.000000,4193.642926
6,2018-02-28 06:39:12,Thomas Carroll,YMHQ42220003398003,Medical Subscription,Regular,-80.000000,4113.642926
7,2018-02-28 07:24:00,Laura Moore,MBHS86862310038719,Medical Subscription,Regular,-150.000000,3963.642926
8,2018-02-28 07:47:01,Thomas Carroll,YMHQ42220003398003,Subscription,Regular,-55.000000,3908.642926
9,2018-02-28 07:57:11,Thomas Carroll,YMHQ42220003398003,Car,Regular,-330.000000,3578.642926
10,2018-02-28 09:55:48,Thomas Carroll,YMHQ42220003398003,Food Desc,Irregular,-10.018096,3568.624830
11,2018-02-28 10:57:40,Laura Moore,MBHS86862310038719,Subscription,Regular,-50.000000,3518.624830
12,2018-02-28 16:11:46,Laura Moore,MBHS86862310038719,Food Reg,Irregular,-201.343783,3317.281047
13,2018-02-28 16:37:01,Laura Moore,MBHS86862310038719,Car,Regular,-250.000000,3067.281047
14,2018-02-28 17:00:58,Thomas Carroll,YMHQ42220003398003,Utilities,Regular,-264.507326,2802.773721
15,2018-02-28 19:40:51,Laura Moore,MBHS86862310038719,Rent - apt 12,Regular,-1500.000000,1302.773721
16,2018-02-28 20:05:15,Laura Moore,MBHS86862310038719,Phone,Regular,-20.000000,1282.773721
17,2018-03-01 00:07:43,Laura Moore,MBHS86862310038719,Food Desc,Irregular,-7.157299,1275.616422
18,2018-03-01 03:02:02,Thomas Carroll,YMHQ42220003398003,Rent - apt 12,Regular,-1200.000000,75.616422
19,2018-03-01 05:26:47,Laura Moore,MBHS86862310038719,Utilities,Regular,-244.333517,-168.717095
20,2018-03-04 12:59:32,Thomas Carroll,YMHQ42220003398003,Food Reg,Irregular,-229.991899,-398.708993
21,2018-03-07 22:32:41,Laura Moore,MBHS86862310038719,Food Desc,Irregular,-5.857560,-404.566553
22,2018-03-07 23:12:46,Thomas Carroll,YMHQ42220003398003,Food Desc,Irregular,-8.656879,-413.223432
23,2018-03-08 00:53:59,Laura Moore,MBHS86862310038719,Food Reg,Irregular,-262.594194,-675.817626
24,2018-03-12 04:47:45,Thomas Carroll,YMHQ42220003398003,Food Reg,Irregular,-253.625002,-929.442628
25,2018-03-14 08:57:17,Thomas Carroll,YMHQ42220003398003,Food Desc,Irregular,-6.041752,-935.484380
26,2018-03-14 09:42:09,Laura Moore,MBHS86862310038719,Food Reg,Irregular,-299.204895,-1234.689275
27,2018-03-15 03:34:27,Laura Moore,MBHS86862310038719,Food Desc,Irregular,-7.502052,-1242.191328
28,2018-03-15 03:52:43,Thomas Carroll,YMHQ42220003398003,Wages MyOrg,Regular,2300.000000,1057.808672
29,2018-03-19 02:23:17,Thomas Carroll,YMHQ42220003398003,Food Reg,Irregular,-218.675344,839.133328
30,2018-03-20 18:23:37,Laura Moore,MBHS86862310038719,Wages MyOrg,Regular,2600.000000,3439.133328
31,2018-03-21 09:50:05,Thomas Carroll,YMHQ42220003398003,Food Desc,Irregular,-6.053561,3433.079767
32,2018-03-21 16:21:23,Laura Moore,MBHS86862310038719,Food Reg,Irregular,-260.462296,3172.617471
33,2018-03-21 23:07:02,Laura Moore,MBHS86862310038719,Food Desc,Irregular,-5.187362,3167.430108
34,2018-03-25 17:12:18,Thomas Carroll,YMHQ42220003398003,Food Reg,Irregular,-292.352342,2875.077766
35,2018-03-28 00:00:22,Laura Moore,MBHS86862310038719,Inc,Discretionary,-44.177174,2830.900592
36,2018-03-28 00:07:39,Laura Moore,MBHS86862310038719,Medical Subscription,Regular,-150.000000,2680.900592
37,2018-03-28 00:13:31,Laura Moore,MBHS86862310038719,Rent - apt 12,Regular,-1500.000000,1180.900592
38,2018-03-28 00:20:13,Thomas Carroll,YMHQ42220003398003,Group,Discretionary,-72.349107,1108.551484
39,2018-03-28 02:53:13,Thomas Carroll,YMHQ42220003398003,Car,Regular,-330.000000,778.551484
40,2018-03-28 03:30:42,Laura Moore,MBHS86862310038719,Car,Regular,-250.000000,528.551484
41,2018-03-28 04:42:22,Laura Moore,MBHS86862310038719,Phone,Regular,-20.000000,508.551484
42,2018-03-28 05:58:14,Thomas Carroll,YMHQ42220003398003,Subscription,Regular,-55.000000,453.551484
43,2018-03-28 06:25:00,Laura Moore,MBHS86862310038719,Food Reg,Irregular,-296.614592,156.936892
44,2018-03-28 06:33:39,Thomas Carroll,YMHQ42220003398003,Phone,Regular,-18.000000,138.936892
45,2018-03-28 09:39:48,Laura Moore,MBHS86862310038719,Food Desc,Irregular,-9.694480,129.242413
46,2018-03-28 18:44:15,Laura Moore,MBHS86862310038719,Subscription,Regular,-50.000000,79.242413
47,2018-03-28 22:16:03,Thomas Carroll,YMHQ42220003398003,Rent - apt 12,Regular,-1200.000000,-1120.757587
48,2018-03-28 23:00:16,Thomas Carroll,YMHQ42220003398003,Medical Subscription,Regular,-80.000000,-1200.757587
49,2018-03-29 00:01:24,Thomas Carroll,YMHQ42220003398003,Food Desc,Irregular,-7.901278,-1208.658865

In [10]:
df_.to_csv('gs://shakingshamrocks_eu/test_data_4_sec.csv')