In [8]:
import pandas as pd
from faker import Faker
import random
import datetime
import math

In [9]:
def month_range(start, periods=12):
    rng = pd.date_range(pd.Timestamp(start)-pd.offsets.MonthBegin(),
                        periods=periods,
                        freq='MS')
    ret = (rng + pd.offsets.Day(pd.Timestamp(start).day-1)).to_series()
    ret.loc[ret.dt.month > rng.month] -= pd.offsets.MonthEnd(1)
    return pd.DatetimeIndex(ret)

Create An Account Profile

In [10]:
def payment_generator(payment, n=48):
    
    
    if payment['freq']=='M':
        df = pd.DataFrame(data={'dates': month_range(payment['start_date'], n)})
    else:
        df = pd.DataFrame(data={'dates': pd.date_range(payment['start_date'], periods=n, freq=payment['freq'])})
    
    df['account_name'] = payment['account_name'] 
    df['account_IBAN'] = payment['account_IBAN']
    df['other_account_name'] = payment['other_account_name']
    df['Type'] = payment['Type']
    
    if payment['amount']['variable'] == 'False':
        df['amount'] = payment['amount']['base']
    
    if payment['amount']['variable'] == 'True':
        df['amount'] = payment['amount']['base']
        df['amount'] = df['amount'].apply(lambda x: x + random.uniform(payment['amount']['var'], 0))
    
    return df

In [13]:
fake = Faker()

In [14]:
name = fake.name()
account_IBAN = fake.bban()
payments_norm = [{
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Wages MyOrg',
    'other_account_IBAN': fake.bban(),
    'Type': 'Regular',
    'amount': {
        'variable': 'False',
        'base': 2600.0
    },
    'start_date': '2018-02-20',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Rent - apt 12',
    'other_account_IBAN': fake.bban(),
    'Type': 'Regular',
    'amount': {
        'variable': 'False',
        'base': -1500.0
    },
    'start_date': '2018-02-28',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Phone',
    'other_account_IBAN': fake.bban(),
    'Type': 'Regular',
    'amount': {
        'variable': 'False',
        'base': -20.0
    },
    'start_date': '2018-02-28',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Subscription',
    'other_account_IBAN': fake.bban(),
    'Type': 'Regular',
    'amount': {
        'variable': 'False',
        'base': -50.0
    },
    'start_date': '2018-02-28',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Utilities',
    'other_account_IBAN': fake.bban(),
    'Type': 'Regular',
    'amount': {
        'variable': 'True',
        'base': -200.0,
        'var': -100.0
    },
    'start_date': '2018-02-28',
    'freq': '2M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Car',
    'other_account_IBAN': fake.bban(),
    'Type': 'Regular',
    'amount': {
        'variable': 'False',
        'base': -250.0
    },
    'start_date': '2018-02-28',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Medical Subscription',
    'other_account_IBAN': fake.bban(),
    'Type': 'Regular',
    'amount': {
        'variable': 'False',
        'base': -150.0
    },
    'start_date': '2018-02-28',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Medical Session',
    'other_account_IBAN': fake.bban(),
    'Type': 'Regular',
    'amount': {
        'variable': 'False',
        'base': -200.0
    },
    'start_date': '2018-02-28',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Food Desc',
    'other_account_IBAN': fake.bban(),
    'Type': 'Irregular',
    'amount': {
        'variable': 'True',
        'base': - 5.0,
        'var': - 6.0
    },   
    'start_date': '2018-02-28',
    'freq': '7D'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Food Reg',
    'other_account_IBAN': fake.bban(),
    'Type': 'Irregular',
    'amount': {
        'variable': 'True',
        'base': - 200.0,
        'var': - 100.0
    },   
    'start_date': '2018-02-28',
    'freq': '7D'}
]

payments_impluse = [{
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': fake.company_suffix(),
    'other_account_IBAN': fake.bban(),
    'Type': 'Discretionary',
    'amount': {
        'variable': 'True',
        'base': - 20.0,
        'var': - 50.0
    },
    'start_date': '2018-03-28',
    'freq': '7D',
    'number': 2},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': fake.company_suffix(),
    'other_account_IBAN': fake.bban(),
    'Type': 'Discretionary',
    'amount': {
        'variable': 'True',
        'base': - 240.0,
        'var': - 200.0
    },
    'start_date': '2018-04-28',
    'freq': '1D',
    'number': 1},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': fake.company_suffix(),
    'other_account_IBAN': fake.bban(),
    'Type': 'Discretionary',
    'amount': {
        'variable': 'True',
        'base': - 140.0,
        'var': - 50.0
    },
    'start_date': '2018-08-28',
    'freq': '1H',
    'number': 6}]


name = fake.name()
account_IBAN = fake.bban()
payments_norm += [{
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Wages MyOrg',
    'other_account_IBAN': fake.bban(),
    'Type': 'Regular',
    'amount': {
        'variable': 'False',
        'base': 2300.0
    },
    'start_date': '2018-02-15',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Rent - apt 12',
    'other_account_IBAN': fake.bban(),
    'Type': 'Regular',
    'amount': {
        'variable': 'False',
        'base': -1200.0
    },
    'start_date': '2018-02-28',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Phone',
    'other_account_IBAN': fake.bban(),
    'Type': 'Regular',
    'amount': {
        'variable': 'False',
        'base': -18.0
    },
    'start_date': '2018-02-28',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Subscription',
    'other_account_IBAN': fake.bban(),
    'Type': 'Regular',
    'amount': {
        'variable': 'False',
        'base': -55.0
    },
    'start_date': '2018-02-28',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Utilities',
    'other_account_IBAN': fake.bban(),
    'Type': 'Regular',
    'amount': {
        'variable': 'True',
        'base': -180.0,
        'var': -100.0
    },
    'start_date': '2018-02-28',
    'freq': '2M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Car',
    'other_account_IBAN': fake.bban(),
    'Type': 'Regular',
    'amount': {
        'variable': 'False',
        'base': -330.0
    },
    'start_date': '2018-02-28',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Medical Subscription',
    'other_account_IBAN': fake.bban(),
    'Type': 'Regular',
    'amount': {
        'variable': 'False',
        'base': -80.0
    },
    'start_date': '2018-02-28',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Medical Session',
    'other_account_IBAN': fake.bban(),
    'Type': 'Regular',
    'amount': {
        'variable': 'False',
        'base': -200.0
    },
    'start_date': '2018-02-28',
    'freq': '2M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Food Desc',
    'other_account_IBAN': fake.bban(),
    'Type': 'Irregular',
    'amount': {
        'variable': 'True',
        'base': - 5.0,
        'var': - 6.0
    },   
    'start_date': '2018-02-28',
    'freq': '7D'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Food Reg',
    'other_account_IBAN': fake.bban(),
    'Type': 'Irregular',
    'amount': {
        'variable': 'True',
        'base': - 200.0,
        'var': - 100.0
    },   
    'start_date': '2018-02-25',
    'freq': '7D'}
]

payments_impluse += [{
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': fake.company_suffix(),
    'other_account_IBAN': fake.bban(),
    'Type': 'Discretionary',
    'amount': {
        'variable': 'True',
        'base': - 60.0,
        'var': - 40.0
    },
    'start_date': '2018-03-28',
    'freq': '7D',
    'number': 7},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': fake.company_suffix(),
    'other_account_IBAN': fake.bban(),
    'Type': 'Discretionary',
    'amount': {
        'variable': 'True',
        'base': - 340.0,
        'var': - 100.0
    },
    'start_date': '2018-04-28',
    'freq': 'D',
    'number': 10},
{
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': fake.company_suffix(),
    'other_account_IBAN': fake.bban(),
    'Type': 'Discretionary',
    'amount': {
        'variable': 'True',
        'base': - 99.0,
        'var': - 199.0
    },
    'start_date': '2018-08-28',
    'freq': '1H',
    'number': 6}]


list_impluse = [payment_generator(x, x['number']) for x in payments_impluse]
df_impluse = pd.concat(list_impluse)
df_impluse['dates'] = df_impluse['dates'].dt.strftime('%Y-%m-%d %H:%M:%S')
df_impluse['time_offset'] = 0
df_impluse['time_offset'] = df_impluse['time_offset'].apply(lambda x: x + random.uniform(0, 30))
df_impluse['dates'] = pd.to_datetime(df_impluse['dates']) + pd.to_timedelta(df_impluse['time_offset'], unit='m')

list_norm = [payment_generator(x) for x in payments_norm]
df_norm = pd.concat(list_norm)
df_norm['dates'] = df_norm['dates'].dt.strftime('%Y-%m-%d %H:%M:%S')
df_norm['time_offset'] = 0
df_norm['time_offset'] = df_norm['time_offset'].apply(lambda x: x + random.uniform(0, 30))
df_norm['dates'] = pd.to_datetime(df_norm['dates']) + pd.to_timedelta(df_norm['time_offset'], unit='h')

df_ = pd.concat([df_impluse, df_norm])
df_.reset_index(inplace=True,drop=True)
df_.sort_values(by='dates', inplace=True)
df_.reset_index(inplace=True, drop=True)
df_['balance'] = df_['amount'].cumsum()
df_['dates'] = df_['dates'].dt.strftime('%Y-%m-%d %H:%M:%S')

df_.drop(columns=['time_offset'], inplace=True)
               
df_.head(50)

,dates,account_name,account_IBAN,other_account_name,Type,amount,balance
0,2018-02-15 13:41:23,Kelly Wilson,YEYT82839638951373,Wages MyOrg,Regular,2300.000000,2300.000000
1,2018-02-20 16:18:25,David Singh,ODEC23606947923391,Wages MyOrg,Regular,2600.000000,4900.000000
2,2018-02-26 04:33:54,Kelly Wilson,YEYT82839638951373,Food Reg,Irregular,-230.106307,4669.893693
3,2018-02-28 02:10:27,Kelly Wilson,YEYT82839638951373,Medical Session,Regular,-200.000000,4469.893693
4,2018-02-28 02:51:59,Kelly Wilson,YEYT82839638951373,Food Desc,Irregular,-7.873873,4462.019820
5,2018-02-28 04:25:39,David Singh,ODEC23606947923391,Rent - apt 12,Regular,-1500.000000,2962.019820
6,2018-02-28 05:56:51,Kelly Wilson,YEYT82839638951373,Medical Subscription,Regular,-80.000000,2882.019820
7,2018-02-28 11:44:43,David Singh,ODEC23606947923391,Food Desc,Irregular,-6.229878,2875.789941
8,2018-02-28 12:35:04,Kelly Wilson,YEYT82839638951373,Car,Regular,-330.000000,2545.789941
9,2018-02-28 17:44:33,Kelly Wilson,YEYT82839638951373,Utilities,Regular,-181.241438,2364.548503
10,2018-02-28 18:35:04,Kelly Wilson,YEYT82839638951373,Subscription,Regular,-55.000000,2309.548503
11,2018-02-28 18:54:51,David Singh,ODEC23606947923391,Phone,Regular,-20.000000,2289.548503
12,2018-02-28 19:30:03,David Singh,ODEC23606947923391,Medical Subscription,Regular,-150.000000,2139.548503
13,2018-02-28 20:07:25,David Singh,ODEC23606947923391,Utilities,Regular,-298.656264,1840.892239
14,2018-02-28 21:59:02,David Singh,ODEC23606947923391,Medical Session,Regular,-200.000000,1640.892239
15,2018-02-28 23:47:47,Kelly Wilson,YEYT82839638951373,Rent - apt 12,Regular,-1200.000000,440.892239
16,2018-02-28 23:51:05,Kelly Wilson,YEYT82839638951373,Phone,Regular,-18.000000,422.892239
17,2018-03-01 03:21:33,David Singh,ODEC23606947923391,Food Reg,Irregular,-289.888448,133.003791
18,2018-03-01 03:35:10,David Singh,ODEC23606947923391,Subscription,Regular,-50.000000,83.003791
19,2018-03-01 05:18:34,David Singh,ODEC23606947923391,Car,Regular,-250.000000,-166.996209
20,2018-03-04 03:26:57,Kelly Wilson,YEYT82839638951373,Food Reg,Irregular,-216.356086,-383.352295
21,2018-03-07 10:16:52,Kelly Wilson,YEYT82839638951373,Food Desc,Irregular,-9.925205,-393.277500
22,2018-03-07 11:46:05,David Singh,ODEC23606947923391,Food Desc,Irregular,-6.913163,-400.190663
23,2018-03-08 03:54:21,David Singh,ODEC23606947923391,Food Reg,Irregular,-249.466068,-649.656731
24,2018-03-12 04:25:03,Kelly Wilson,YEYT82839638951373,Food Reg,Irregular,-257.366657,-907.023388
25,2018-03-14 14:49:26,David Singh,ODEC23606947923391,Food Reg,Irregular,-258.172777,-1165.196165
26,2018-03-14 22:40:45,David Singh,ODEC23606947923391,Food Desc,Irregular,-6.921407,-1172.117573
27,2018-03-15 00:03:21,Kelly Wilson,YEYT82839638951373,Wages MyOrg,Regular,2300.000000,1127.882427
28,2018-03-15 04:15:12,Kelly Wilson,YEYT82839638951373,Food Desc,Irregular,-6.434249,1121.448178
29,2018-03-18 11:48:23,Kelly Wilson,YEYT82839638951373,Food Reg,Irregular,-221.590679,899.857500
30,2018-03-20 05:34:41,David Singh,ODEC23606947923391,Wages MyOrg,Regular,2600.000000,3499.857500
31,2018-03-21 04:32:22,David Singh,ODEC23606947923391,Food Desc,Irregular,-7.003835,3492.853665
32,2018-03-21 04:41:28,David Singh,ODEC23606947923391,Food Reg,Irregular,-266.044106,3226.809560
33,2018-03-22 01:52:11,Kelly Wilson,YEYT82839638951373,Food Desc,Irregular,-5.575988,3221.233572
34,2018-03-26 05:21:41,Kelly Wilson,YEYT82839638951373,Food Reg,Irregular,-221.044563,3000.189009
35,2018-03-28 00:20:25,Kelly Wilson,YEYT82839638951373,and Sons,Discretionary,-87.365469,2912.823540
36,2018-03-28 00:24:50,David Singh,ODEC23606947923391,PLC,Discretionary,-27.790855,2885.032685
37,2018-03-28 02:11:43,Kelly Wilson,YEYT82839638951373,Subscription,Regular,-55.000000,2830.032685
38,2018-03-28 02:54:46,David Singh,ODEC23606947923391,Food Reg,Irregular,-250.554338,2579.478346
39,2018-03-28 05:54:58,David Singh,ODEC23606947923391,Car,Regular,-250.000000,2329.478346
40,2018-03-28 05:57:29,Kelly Wilson,YEYT82839638951373,Medical Subscription,Regular,-80.000000,2249.478346
41,2018-03-28 06:52:13,David Singh,ODEC23606947923391,Phone,Regular,-20.000000,2229.478346
42,2018-03-28 09:15:58,Kelly Wilson,YEYT82839638951373,Car,Regular,-330.000000,1899.478346
43,2018-03-28 09:25:15,David Singh,ODEC23606947923391,Medical Subscription,Regular,-150.000000,1749.478346
44,2018-03-28 15:32:31,Kelly Wilson,YEYT82839638951373,Food Desc,Irregular,-10.451350,1739.026996
45,2018-03-28 16:47:16,David Singh,ODEC23606947923391,Food Desc,Irregular,-6.434082,1732.592914
46,2018-03-28 18:25:44,David Singh,ODEC23606947923391,Medical Session,Regular,-200.000000,1532.592914
47,2018-03-28 22:43:46,Kelly Wilson,YEYT82839638951373,Phone,Regular,-18.000000,1514.592914
48,2018-03-29 01:14:56,David Singh,ODEC23606947923391,Subscription,Regular,-50.000000,1464.592914
49,2018-03-29 02:02:55,David Singh,ODEC23606947923391,Rent - apt 12,Regular,-1500.000000,-35.407086

Save File for later processing

In [444]:
df_.to_csv('gs://shakingshamrocks_eu/test_data_3_sec.csv')

Split into train and test data

In [502]:
df_train = df_.iloc[:700,:] 
df_test = df_.iloc[701:,:]

Predict Shortfall

In [486]:
def find_incommings(df_user):
    
    # segment into months
    df_user['year'] = pd.DatetimeIndex(df_user['dates']).year
    df_user['month'] = pd.DatetimeIndex(df_user['dates']).month
    
    # find average income per month
    df_in = df_user[df_user['amount']>0]
    other_account_name = df_in['other_account_name'].unique()
    
    # find average gap in payments
    incomings = {}
    for payment in other_account_name:
        
        df_tmp = df_in[df_in['other_account_name']== payment].copy()
        df_tmp.sort_values(by='dates', inplace=True)
        df_tmp.reset_index(inplace=True, drop=True)
        df_tmp['diff_days'] = pd.to_datetime(df_tmp['dates']).diff().dt.days.fillna(0, downcast='infer')
        
        incomings[payment] = {}
        incomings[payment]['freq'] = math.ceil(df_tmp['diff_days'].mean())
        incomings[payment]['amount'] = df_tmp['amount'].mean()
        incomings[payment]['start_date'] = df_tmp['dates'].min()
           
    return incomings


def find_outgoings(df_user):
    
    # segment into months
    df_user['year'] = pd.DatetimeIndex(df_user['dates']).year
    df_user['month'] = pd.DatetimeIndex(df_user['dates']).month
    
    # find average income per month
    df_in = df_user[df_user['amount']<0]
    other_account_name = df_in['other_account_name'].unique()
        
    # find average gap in payments
    outgoings = {}
    for payment in other_account_name:
        
        df_tmp = df_in[df_in['other_account_name']== payment].copy()
        df_tmp.sort_values(by='dates', inplace=True)
        df_tmp.reset_index(inplace=True, drop=True)
        df_tmp['diff_days'] = pd.to_datetime(df_tmp['dates']).diff().dt.days.fillna(0, downcast='infer')
        
        outgoings[payment] = {}
        outgoings[payment]['freq'] = math.ceil(df_tmp['diff_days'].mean())
        outgoings[payment]['amount'] = df_tmp['amount'].mean()
        outgoings[payment]['start_date'] = df_tmp['dates'].min()
        
        if outgoings[payment]['freq'] > 25:
            outgoings[payment]['Type'] = 'Regular'
        
        if (outgoings[payment]['freq'] >= 7) & (outgoings[payment]['freq'] < 25):
            outgoings[payment]['Type'] = 'Irregular'
            
        if outgoings[payment]['freq'] < 7:
            outgoings[payment]['Type'] = 'Discretionary'
           
    return outgoings


def build_predicted_in_out(user, incommings, outgoings, end_date):
    
    
    in_list = []
    for i in incommings.keys():    
            
        df = pd.DataFrame(data={'dates': pd.date_range(incommings[i]['start_date'], end_date, freq='MS')})
        df['amount_in'] = incommings[i]['amount']
        in_list.append(df)
    
    out_list = []
    for i in outgoings.keys(): 
        
        if outgoings[i]['Type'] == 'Regular':
        
            df = pd.DataFrame(data={'dates': pd.date_range(outgoings[i]['start_date'], end_date, freq=str(outgoings[i]['freq'])+'D')})
            df['amount_out_reg'] = outgoings[i]['amount']
            out_list.append(df)            
        
    df = pd.concat(in_list + out_list)
    df.reset_index(inplace=True,drop=True)
    df.sort_values(by='dates', inplace=True)
    df.reset_index(inplace=True, drop=True)
    df.fillna(0, inplace=True)

    # bucket into months
    df['year'] = pd.DatetimeIndex(df['dates']).year
    df['month'] = pd.DatetimeIndex(df['dates']).month
    
    return df

In [493]:

# build testing logic from here down to create decector

unique_name = df_['account_name'].unique()

In [ ]:
df_test = df_train[df_['account_name']==unique_name[0]].copy()

In [489]:
incommings_payments = find_incommings(df_test.copy())

In [490]:
outgoing_payments = find_outgoings(df_test.copy())

In [481]:
df_tmp = build_predicted_in_out(unique_name[0], incommings_payments, outgoing_payments, '2024-01-01 00:00:00')

In [495]:
gf_payment_pattern_reg = df_tmp.groupby(['year','month'])[['amount_in','amount_out']].sum()
gf_payment_pattern_reg['buffer'] = gf_payment_pattern_reg['amount_in'] + gf['amount_out']
gf_payment_pattern_reg.head(10)

            amount_in   amount_out       buffer
year month
2018 2            0.0 -1883.000000 -1883.000000
     3         2300.0 -1912.079507   387.920493
     4         2300.0 -2112.079507   187.920493
     5         2300.0 -1683.000000   617.000000
     6         2300.0 -2112.079507   187.920493
     7         2300.0 -1683.000000   617.000000
     8         2300.0 -2112.079507   187.920493
     9         2300.0 -1683.000000   617.000000
     10        2300.0 -2112.079507   187.920493
     11        2300.0 -1683.000000   617.000000

For tansactions - raise alert